docker_project/dec_docker_training/.env
docker_project/dec_docker_training/LICENSE
docker_project/dec_docker_training/PracticeCommands.md
docker_project/dec_docker_training/README.md
docker_project/dec_docker_training/task.md
